@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);




#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #200403;
}
#menu-0 .mbr-navbar__hamburger {
  color: #420202;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}
#content5-m .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-m .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-m .mbr-article {
  color: #000000;
}
#content5-m .mbr-article P {
  text-align: left;
  font-size: 15px;
}
#content4-h .mbr-section-title .mbr-header__text {
  font-family: 'Open Sans', sans-serif;
}
#content4-h P {
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
  font-size: 13px;
}
#content4-h .mbr-section__col .mbr-header__text {
  font-family: 'PT Serif', serif;
  font-size: 14px;
}

#menu-r .mbr-brand__name {
  font-size: 16px;
}
#menu-r.mbr-navbar--stuck .mbr-navbar__section {
  background: #200403;
}
#menu-r .mbr-navbar__hamburger {
  color: #420202;
}
#menu-r .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}
#content1-1i P {
  text-align: left;
}


#menu-1e .mbr-brand__name {
  font-size: 16px;
}
#menu-1e.mbr-navbar--stuck .mbr-navbar__section {
  background: #200403;
}
#menu-1e .mbr-navbar__hamburger {
  color: #420202;
}
#menu-1e .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}
#content1-1h P {
  text-align: left;
  font-size: 19px;
  font-family: 'Source Sans Pro', sans-serif;
}


#menu-1j .mbr-brand__name {
  font-size: 16px;
}
#menu-1j.mbr-navbar--stuck .mbr-navbar__section {
  background: #200403;
}
#menu-1j .mbr-navbar__hamburger {
  color: #420202;
}
#menu-1j .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}
#content1-1l P {
  text-align: left;
  font-size: 19px;
  font-family: 'Source Sans Pro', sans-serif;
}


#menu-1n .mbr-brand__name {
  font-size: 16px;
}
#menu-1n.mbr-navbar--stuck .mbr-navbar__section {
  background: #200403;
}
#menu-1n .mbr-navbar__hamburger {
  color: #420202;
}
#menu-1n .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}
#content1-1p P {
  text-align: left;
  font-size: 19px;
  font-family: 'Source Sans Pro', sans-serif;
}


#menu-1r .mbr-brand__name {
  font-size: 16px;
}
#menu-1r.mbr-navbar--stuck .mbr-navbar__section {
  background: #200403;
}
#menu-1r .mbr-navbar__hamburger {
  color: #420202;
}
#menu-1r .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}
#content1-1t P {
  text-align: left;
  font-size: 19px;
  font-family: 'Source Sans Pro', sans-serif;
}
#content1-1t DIV {
  color: #000000;
}
